html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #353198;
}

.playButtonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* added*/
  min-height: 100%;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  max-width: 398px;
  gap: 10px;
  /*background: red;*/
}

.playButton {
  flex-basis: 126px;
  /* width of each button */
  margin: 0px;
  /* spacing between buttons */
  padding: 1px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

.playButton:hover {
  background-color: pink;
  border: 1px solid black;
}

.playButton:focus {
  outline: 0;
  border: 1px solid black;
}

.playButton.blue {
  background-color: pink;
  border: 1px solid black;
}

a {
  position: relative;
  margin: 10px auto 0;
  width: 37px;
  height: 37px;
  background: black;
  border-radius: 50%;
  border: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInExit 3s ease-in 0s forwards;
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeInExit {
  99% {
    pointer-events: none;
  }

  100% {
    pointer-events: initial;
    opacity: 1;
  }
}

a::before,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: red;
  transform: rotate(45deg);
}

a::after {
  transform: rotate(-45deg);
}
